__pycache__
.ipynb_checkpoints
.vscode/*
checkpoints
checkpoints/*
dataset/__pycache__
generated_data
generated_data/*
face_detection/__pycache__
models/__pycache__/*
models/lipreading/__pycache__/*
options/__pycache__/*
utils/__pycache__/*
temp/*
test_data/*
lrs2_preprocessed/*
trained_checkpoints/*
